<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/header' %>
<body>
<%= render 'layouts/navmenu' %>
<%= yield %>
<%= render 'layouts/footer' %>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
